/.*/
!/.vscode/

/build/
/doc/api/
/node_modules/
/var/
/web/

/*.code-workspace
/*.iml
/**/.DS_Store
/.packages
/npm-debug.log
/package-lock.json
/pubspec.lock
/bin/reverse_proxy.js*
/doc/about/changelog.md
/doc/about/license.md
